# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

*
*.pid
*.xml
*.csr
*.crt
*.key
*.conf
*.pickle
*.json
*.xml
.*
*.db
*.py
*.log
*.mp3
*.html
*.old

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
#!www/community/*


# Ignore folders.
.storage
.cloud
.google.token
www
custom_components
www
tts
themes
node-red

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
google_calendars.yaml
gmusic_player.yaml
core.6
core.7
aircast.xml

